aiohttp
git+https://github.com/KurimuzonAkuma/pyrogram.git  # extra
Pyromod
# pyrofork
# https://github.com/KurimuzonAkuma/pyrogram/archive/refs/tags/v2.1.17.zip
python-dotenv
tgcrypto
motor
aiofiles
dnspython
requests
jinja2
